*{
    margin: 0;
}
body{
    background: linear-gradient(90deg, red, rgb(174, 0, 255));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.branco{
    background-color: white;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
button{
    background-color: red;
    border: none;
    width: 100%;
}
.pad{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
input{
    width: 97%;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.vermelho{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: -50px;
    overflow: hidden;
}
.exemplo{
    margin-top: 30px;
}
.e2{
    text-align: center;
    margin-top: 30px;
    box-shadow: 0 0 1px 1px gray;
    padding: 3px;
}

.google, .face{
    background-color: red;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width: 80px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social{
    display: flex;
    justify-content: center;
    gap: 10px;
}